select{
    outline: none;
    padding: 10px;
    color: #6F9ABC;
    margin: 0px 10px;
    border: 1px solid #EAF1F7;
    border-radius: 10px / 20px;
}

@media (max-width: 572px) {
    select{
        width: 100%;
        display: block;
        max-width: 300px;
        margin-top: 10px;
        margin: 0px auto;
        margin-top: 10px;
    }
}